.calendario{
    background-color: #3a3b3c;
    color: white;
    border-radius: 10px;
    margin-bottom: 5vh;
}
.ciudades{
    margin-left: 5%;
    margin-right: 5%;
}
.ciudades h4, .ciudades h5{
    margin: .656rem 0 .656rem 0 !important;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}
.ciudades h5 {
    font-size: 20px !important;
}
.recinto{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.ciudad-general{
    height: 400px;
    padding: 0 !important;
}
.div-logo-index{
    width: 60%;
    height: 100px;
    background-color: rgb(255, 255, 255, .6);
    margin-top: 58%;
    margin-left:20%;
}
.div-logo-index img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.grises {
    background-color: rgb(0,0,0,0.8);
    height: 100%;
    text-align: center;
    margin: 0 !important;
}
.grises:hover { 
    background-color: transparent;
    opacity: 1;
}
.grises:hover .div-logo-index{
    background-color: rgb(255, 255, 255, 1);
}
.div-ciudad{
    padding: 0 2rem !important;
}
@media only screen and (max-width: 500px) and (min-width: 100px) {
    .div-ciudad{
        padding: 1rem !important;
    }
    .ciudad-general{
        height: 350px;
        padding: 0 !important;
    }
    .div-logo-index{
        margin-top: 57%;
    }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {
    .div-ciudad{
        padding: 1rem !important;
    }
    .ciudad-general{
        height: 350px;
        padding: 0 !important;
    }
    .div-logo-index{
        margin-top: 65%;
    }
}