.width-head {
    width: 90% !important;
    margin-left: 5% !important;
}
.hr-city {
    width: 60% !important;
    margin-left: 20% !important;
    border: 1px solid white !important;
}
.background-title {
    margin-top: 212px !important;
    /* background: black !important; */
    background-color:rgb(0,0,0, 0.80) !important;
}
.img {
    width: 100% !important;
}
.bold {
    font-weight: bold !important;
}
.size-date {
    font-size: 30px !important;
}
.card {
    border-bottom: #3A3B3C 2px solid !important;
}
.size-schedule {
    font-size: 18px !important;
}
.paddings {
    padding: 0px !important;
}
.object {
    object-fit: cover !important;
}
.large-location {
    height: 500px !important;
}
.map {
    width: 100% !important;
    height: 500px !important;
    border: unset !important;
}
.btn-contact {
    cursor: unset !important;
    border-radius: 10px !important;
    width: 100% !important;
}
.inputs-contact {
    border: 1px solid grey !important;
    border-radius: 10px !important;
    height: 36px !important;
}
.inputs {
    background: white !important;
    border: unset !important;
    margin-top: 10px !important;
}
.paddings {
    padding: 0px !important;
}
.padding-left {
    padding-left: 0px !important;
}
.padding-right {
    padding-right: 0px !important;
}
textarea {
    height: 150px !important;
}
.card-contact {
    border-bottom: unset !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
}
.space-contact {
    height: 15px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

#WindowLoad
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.9;
    background:#999;
}
.height-logo {
    height: 180px !important;
}
.img-logo {
    height: 100% !important;
    object-fit: contain !important;
}
.space-title {
    margin-top: 50px !important;
}
.space {
    height: 50px !important;
}
.grey-text {
    color: #3A3B3C !important;
}
.bold {
    font-weight: bold !important;
}
.justify {
    text-align: justify !important;
}
.div-logo {
    background: rgb(255,255,255,.8);
    width: 60% !important;
    margin-left: 20% !important;
    height: 80px !important;
    margin-top: 177px;
}
.img-carousel {
    height: 100%;
    object-fit: contain;
}
.title-carousel {
    text-shadow: 2px 2px 2px #000;
}
.size-subtitle {
    font-size: 23px !important;
}
.hr-concept {
    border: 2px solid #3A3B3C !important;
}