.background-content {
    background-size: cover;
    width: 100%;
    padding-top: 0px !important;
    background-image: url('../../resources/fondo.jpg');
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    /* background-repeat: no-repeat !important; */
}
.card-menu-lateral {
    padding: 0px !important;
}
.menu-lateral {
    padding-left: 15px !important;
}
.hover:hover {
    background-color: #dddddd;
    height: 100% !important;
    cursor: pointer;
    /* width: 50px; */
}
.label-escaparate {
    color: black !important;
    cursor: pointer !important;
}
.card-space {
    margin-left: 40px !important;
    margin-top: 30px !important;
}
.options {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
}
.selected {
    background-color: #F8DADF !important;
}
.info {
    background-color: #3B3A3C !important;
    border-radius: 3px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}
.inputs {
    border: 1px solid grey !important;
    border-radius: 5px !important;
}
.btn {
    color: #3B3A3C !important;
}
.justify {
    text-align: justify;
}
label {
    font-size: 15px !important;
}
select {
    display: inherit !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.mapa {
    height: 300px !important;
}
.tab a {
    color: #373737 !important;
}
.tabs .tab .active {
    background: #373737  !important;
    border-bottom: 5px solid #373737 !important;
    transition: .2s ease-in-out;
    color: #f9c9cb !important;
}
.primary-text{color:#3b3a3c !important;}
.primary-background{background-color:#F8DADF !important;}
.secondary-text{color:#FFFFFF !important;}
.green-text {
    color: #4CAF50 !important;
}
.upload:hover {
    border: 3px dashed #00BCDD;
}

.upload {
    min-height: 150px;
    border: 3px dashed rgba(0,166,221,.34);
    cursor: pointer;
    text-align: center;
    padding-top: 5vh;
}
.text-upload {
    width: 100%;
    text-align: center;
    color: gray;
}
.height {
    height: 250px !important;
}
.cover {
    object-fit: cover !important;
}
.white-text {
    color: white !important;
}
.width {
    width: 100% !important;
}
.space-top {
    margin-top: 10px !important;
}
.orange-discount {
    color: #f6b268 !important;
}
.space-bot {
    margin-bottom: 10px !important;
}
.oculto {
    display: none !important;
}
/* .padding {
    padding: 0 !important;
} */
.size-text {
    font-size: 17px !important;
}
.barra {
	background-color: #f3f3f3;
    border-radius: 5px;
    height: 30px;
    text-align: center !important;
    font-weight: bold !important;
}
.barra_azul {
	background-color: #247CC0;
	border-radius: 10px;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 0%;
}
.barra_verde {
	background-color: #2EA265;
}
.barra_roja {
	background-color: #DE3152;
}
.collapsible-body {
    margin-left: unset !important;
    margin-right: unset !important;
}
.width-video {
    width: 100% !important;
}

.prices {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.bold {
    font-weight: bold !important;
}
.profile-recomendation {
    margin-top: 10px !important;
}
.card-content-reviews {
    height: 320px !important;
}
.not-reviews {
    margin-bottom: 90px !important;
}

@media screen and (min-width: 100px) and (max-width: 500px) {
    .card-space {
        margin-left: 0px !important;
        margin-top: 0px !important;
    }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
    .card-space {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}