.background-index {
    background-image: url('../../resources/fondo.jpg');
    background-size: cover;
}
.dropdown-content {
    left: unset !important;
    top: 0px !important;
    position: absolute !important;
    width: 15% !important;
    height: unset !important;
    margin-top: 100px !important;
    right: 0 !important;
}
.navbar-fixed {
    height: 100px;
}
nav {
    color: black;
    background-color: #ECEDED;
    box-shadow: 0px 0px 0px 0px;
    height: 120px;
    padding-top: 1%;
}
.text-menu {
    color: #3A3A3A;
    font-weight: bold;
    font-size: 15px;
}
.img-menu {
    width: 90%;
}
.img {
    width: 50% !important;
}
.img-large {
    width: 20% !important;
}
.img-content {
    width: 100% !important;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    line-height: 17px !important;
}
.padding {
    padding: 0px !important;
}
.top {
    padding-top: 20px !important;
}
.top-logo {
    padding-top: 10px !important;
}
.border {
    border-left: 3px solid #3A3A3A;
}
.logo-user {
    width: 51px;
    height: 51px;
    border-radius: 100px;
    border: 1px;
    border-style: solid;
    object-fit: cover !important;
    cursor: pointer;
}
.footer {
    margin-bottom: 0px !important;
}
.row {
    margin-bottom: 0px !important;
}
.text-content {
    color: #767676 !important;
}
.text-stats {
    margin: 0;
    color: #3A3A3A;
    font-weight: bold;
    font-size: .9rem;
}
.size-stats {
    font-size: 2em;
}
.size-total-stats {
    font-size: 1.8em;
}
.hr-stats {
    border: 2px solid #F8DADF;
}
.graphics {
    margin-bottom: 50px !important;
}
.justify {
    text-align: justify;
}
.complete {
    margin-left: 10%;
    margin-right: 10%;
}
@media screen and (min-width: 100px) and (max-width: 500px) {
    .border {
        border-left: unset !important;
    }
    .img-menu {
        width: 100% !important;
        margin-top: 15px !important;
    }
    .logo-user {
        margin-top: 15px !important;
    }
    .dropdown-content {
        width: 45% !important;
    }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
    .logo-user {
        margin-top: 15px !important;
    }
    .dropdown-content {
        width: 30% !important;
    }
}