.background-bride {
    background-image: url('../resources/media/registerNovia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}
.background-company {
    background-image: url('../resources/media/registerProveedor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}
.background-row {
    background-size:cover;
    width: 100%;
    padding-top: 0px !important;
    background-image: url('../resources/fondo.jpg')
}
.padding-row {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    margin-bottom: 0px !important;
}
.border-head {
    border-radius: 15px 15px 0px 0px !important;
    height: 250px;
}
.border-footer {
    border-radius: 0px 0px 15px 15px !important;
}
.paddings {
    padding: 0px !important;
}
.card-shadow {
    box-shadow: 0px 3px 6px 0px !important;
}
.redirect {
    color:  #4AA6F3 !important;
}
.margin-desc {
    margin-top: 15% !important;
    margin-bottom: 15% !important;
}
.color-text {
    color: #767676 !important;
    font-weight: bold !important;
}
.background {
    background: rgba(247, 217, 222, 0.50) !important;
}
.title-card {
    padding-top: 30% !important;
    color: white !important;
    font-weight: bold !important;
    text-shadow: -1px -1px 1px rgb(167, 162, 162), 1px -1px 1px rgb(167, 162, 162), -1px 1px 1px rgb(167, 162, 162), 1px 1px 1px rgb(167, 162, 162);
}
.large-fcard {
    height: 300px !important;
}
.space {
    height: 50px !important;
}