.title {
    color: #515151 !important;
    font-size: 1.2rem !important;
    cursor: pointer !important;
    display: inline-block !important;
}
.content-menu {
    border-radius: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    margin-top: -50px !important;
    position: absolute !important;
}
.border-right {
    border-right: 1px solid #757575 !important;
}
.border-left {
    border-left: 1px solid #757575 !important;
}
.img-content {
    margin-top: -20px !important;
}
.space-content {
    background-image: url('../resources/fondo.jpg');
    background-size: cover;
    padding-top: 80px !important;
}
hr {
    border: 2px solid !important;
    margin-top: 23px !important;
    border-color: #757575 !important;
}
.space-content-two {
    margin-top: 60px !important;
    margin-bottom: 50px !important;
}
.oculto {
    display: none !important;
}
.titulo{
    margin-bottom: 5%;
}
.caja{
    height:40vh;
}
h5{
    font-size: 1.4rem;
}
h4{
    font-size: 1.3rem;
    font-weight: bold;
}
h3{
    font-size: 1.2rem;
}
@media screen and (min-width: 100px) and (max-width: 500px) {
    .caja{
        height:25vh;
    }
}