.page-footer {
    background-color: #3B3A3C !important;
}
.footer-copyright{
    height: 150px !important;
}
.titleBA{
    color: #F8DADF !important; 
    font-size: 1.1rem;
    margin-top: 2.3rem;
}
.brideAdvisorimg{
    margin-top: .9rem;
}
.logo-anm{
    margin-top: .7rem;
    width: 40%
}
.footer{
    margin-top: 0%;
}
#footer a {
    font-size: 25px !important;
    color: #fafafa !important;
    margin: 5%;
}
.icon-style {
    color: white !important;
}
@media only screen and  (min-width: 300px) and  (max-width: 500px){
    .footer-copyright{
        height: 300px !important;
    }
    .brideAdvisorimg{
        margin-top: .1rem;
    }
    .titleBA{
        margin-top: 1rem;
    }
    .footer{
        margin-top: 0%;
    }
}
@media only screen and  (min-width: 400px) and  (max-width: 900px){
    .footer-copyright{
        height: 400px !important; 
    }  
}