.background {
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size:cover;
    /* height: 350px; */
    width: 100%;
    /* max-width: 100%; */
    padding-top: 0px !important;
    background-image: url('../resources/fondo.jpg')
}
.row {
    margin-bottom: 0 !important;
}
.img-content {
    width: 100% !important;
}
.size-content {
    font-size: 16px !important;
}
.size-content-two {
    font-size: 17px !important;
}
.band {
    color: #F8DADF;
    border: 4px solid;
    /* margin-left: 10px !important; */
}
.justify {
    text-align: justify !important;
}
.bold {
    font-weight: bold !important;
}
.space-right {
    padding-right: 4% !important;
}
.fotorama {
    margin-top: 1% !important;
}
.card-profile {
    margin-top: 0px !important;
}
.inputs {
    border: 1px solid grey !important;
    border-radius: 5px !important;
}
.cotizacion {
    padding-top: 30px !important;
}
select {
    display: inherit !important;
}
.dropdown-content {
    left: unset !important;
    top: 0px !important;
    position: absolute !important;
    width: 15% !important;
    height: unset !important;
    margin-top: 100px !important;
    right: 0 !important;
}
.pagination li {
    width: 35px !important;
    border: 1px solid grey !important;
    color: #757573  !important;
    margin: 0px !important;
    padding: 0px !important;
}
.pagination li a {
    color: #757573  !important;
}
.pagination li.active {
    background-color: #fce4ec;
    padding-top: 4px !important;
}
.row-providers {
    width: 90% !important;
    margin-left: 5% !important;
}
.img-providers {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover !important;
}
.h5-providers {
    color: #3B3A3C !important;
}
.paddings {
    padding: 0px !important;
}
.p-providers {
    color: #757575 !important;
}
.border-providers {
    border-left: 5px solid #F8DADF !important;
    margin-bottom: 30px !important;
}

/*Estilos para la versión móvil*/
@media screen and (min-width: 100px) and (max-width: 500px) {
    .button-search {
        height: 42px !important;
    }
    .position {
        padding: unset;
        width: 90%;
    }
    .background-image {
        height: 265px;
    }
    .slide {
        height: 170px !important;
    }
    .indicator-item {
        margin: -15px 12px !important;
    }
    .size-icon {
        font-size: 25px !important;
        padding-top: 2vh !important;
    }
}