.background-image {
    background: url('../resources/fondo.png') no-repeat;
    height: 600px !important;
    margin-bottom: 0 !important;
    object-fit: center !important;
}
.center-vertical {
    padding-top: 5% !important;
}
.style-title {
    font-weight: bold !important;
    color: #72d6e0 !important;
}
.style-subtitle {
    font-weight: bold !important;
    color: white !important;
}
.inputs-login {
    background: white !important;
    border-radius: 5px !important;
}
.button-login {
    border-radius: 5px !important;
    background: #72d6e0 !important;
}
.underline {
    text-decoration: underline !important;
    font-size: 18px !important;
}
/*Estilos para la versión móvil*/
@media screen and (min-width: 100px) and (max-width: 500px) {
    .background-image {
        height: 415px !important;
        object-fit: initial !important;
    }
    .center-align {
        text-align: left !important;
    }
}