.backgrounRow {
    background-size: cover;
    width: 100%;
    padding-top: 0px !important;
    background-image: url('../resources/fondo.jpg');
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    background-repeat: no-repeat !important;
}
.row {
    margin-bottom: 0px !important;
}
.backgroundHead {
    background-size: cover;
    width: 100%;
    padding-top: 0px !important;
    background-image: url('../resources/media/registerNovia.jpg');
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    background-repeat: no-repeat !important;
    height: 250px !important;
    border-radius: 15px 15px 0px 0px !important;
    margin-top: 30px !important;
    padding: 0px !important;
    box-shadow: 0px 3px 6px 0px !important;
}
.backgroundHeadCompany {
    background-size: cover;
    width: 100%;
    padding-top: 0px !important;
    background-image: url('../resources/media/registerProveedor.jpg');
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    background-repeat: no-repeat !important;
    height: 250px !important;
    border-radius: 15px 15px 0px 0px !important;
    margin-top: 30px !important;
    padding: 0px !important;
    box-shadow: 0px 3px 6px 0px !important;
}
.transparent {
    background: rgba(247, 217, 222, 0.50) !important;
    height: 250px !important;
    border-radius: 15px 15px 0px 0px !important;
}
.title-card {
    padding-top: 20% !important;
    color: white !important;
    font-weight: bold !important;
    text-shadow: -1px -1px 1px rgb(167, 162, 162), 1px -1px 1px rgb(167, 162, 162), -1px 1px 1px rgb(167, 162, 162), 1px 1px 1px rgb(167, 162, 162);
}
.access {
    color: black !important;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.inputs {
    background: #E8E8E8 !important;
    border-bottom: unset !important;
    text-align:center;
    border-radius: 5px !important;
    width: 80% !important;
}
.color-text {
    color: black !important;
    text-align: center !important;
}
.link {
    color: #67B5EF !important;
}
.shadow {
    box-shadow: 0px 3px 6px 0px !important;
    border-radius: 0px 0px 15px 15px !important;
}
.fb {
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;
}
.incorrect {
    color: #e81123 !important;
}