.font-menu {
    color: #848484 !important;
    font-weight: bold !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
}
.color-nav {
    background-color: rgba(59, 58, 60, 1) !important;
    height: 80px !important;
}
.line-menu {
    line-height: 80px !important;
}
.left-menu {
    padding-left: 245px !important;
}
.right-menu {
    padding-right: 185px !important;
}
.list-color {
    color: #6dc9d2 !important;
}
.height-logo {
    height: 60px;
    margin-top: 5px;
}