.background-search {
    background-image: url('../resources/media/headProvider.png');
    background-repeat: no-repeat;
    width: 100% !important;
    height: 550px !important;
    margin-bottom: 2% !important;
}
.body {
    color: #757575 !important;
}
.text-content {
    color: #757575 !important;
}
.large {
    height: 40px !important;
}
.card {
    margin-bottom: 15% !important;
    box-shadow: 0px 3px 6px 0px !important;
}
.img-cards {
    height: 190px !important;
    object-fit: cover !important;
}
.margin-description {
    margin-left: 3% !important;
    margin-right: 3% !important;
}
.btn-search {
    height: 47px;
    border: #c1c1c1 solid 1px;
    background-color: rgba(236, 237, 237, 0.8) !important;
    text-align: center;
    box-shadow: 0px 2px 6px 0px;
    font-size: 1.2rem;
}
.padding-search {
    padding-top: 400px !important;
}
#btn-search::placeholder {
    color: #707070 !important;
    font-size: 18px !important;
}
select {
    display: inherit !important;
}
.margins {
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.margin-right {
    padding-right: 0px !important;
}
.searchProvider {
    margin: 0 !important;
}
.fa-search {
    margin-top: 8px !important;
}
#stateId {
    width: 100% !important;
}
.chip {
    background: #fce4ec !important;
}
.height-card {
    height: 500px !important;
}