.background-row {
    background-size: cover;
    width: 100%;
    padding-top: 0px !important;
    background-image: url('../resources/fondo.jpg');
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    background-repeat: no-repeat !important;
}
.img {
    width: 100% !important;
}
.backgroung-head {
    background: #F8DADF !important;
    margin-top: 30px !important;
}
.content {
    margin-top: 20px !important;
    box-shadow: 0px 3px 6px 0px !important;
}
.inputs {
    border: 1px solid grey !important;
    border-radius: 5px !important;
}
select {
    display: inherit !important;
}
label {
    font-size: 15px !important;
}
.justify {
    text-align: justify !important;
}
.btn {
    background: #F8DADF !important;
    color: black !important;
}
.background-card {
    background: #efefef !important;
}
.text-cards {
    color: black !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }