.background-image {
    background: url('../resources/textura_footer2.png');
    height: 100% !important;
    margin-bottom: 0 !important;
    padding-top: 25px !important;
}
.background-register {
    background-color: white !important;
    border-radius: 5px !important;
    padding-top: 25px !important;
}
.inputs-register {
    border: 1px solid #c1c1c1 !important;
    border-radius: 5px !important;
    height: 40px !important;
}
.separator {
    padding-top: 5px !important;
}
.select-register {
    border: 1px solid #c1c1c1 !important;
    border-radius: 5px !important;
    height: 47px !important;
    margin-left: 10px !important;
    width: 298px !important;
}
.oculta {
    display: none;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: grey !important;
}
/*Estilos para la versión móvil*/
@media screen and (min-width: 100px) and (max-width: 500px) {
    .select-register {
        width: 95% !important;
    }
}