.background-row {
    background-size: cover;
    width: 100%;
    padding-top: 0px !important;
    background-image: url('../resources/media/registroNovia.png');
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    background-repeat: no-repeat !important;
}
.title-register {
    font-weight: bold !important;
}
.inputs {
    background: white !important;
    border-bottom: unset !important;
    box-shadow: 0px 3px 6px 0px !important;
    width: 90% !important;
    height: 50px !important;
    padding-left: 15px !important;
}
select {
    display: unset !important;
}
.t-black {
    color: black !important;
    width: 95% !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.btn {
    background: #F8DADF !important;
    color: #9B9B9B !important;
    font-weight: bold !important;
}
.privacy {
    color: grey !important;
}