strong{
    font-weight: bold;
}
body{
    font-family: 'Raleway', sans-serif !important;
    color: #757575;
}

nav ul a, a{
    font-size: 14px !important;
}
.ba-menu {
    height: 55px !important;
}
.bw-menu {
    height: 9vh;
    border-left: 2px solid white;
    margin-right: 3vh;
    padding-left: 30px;
}
#header{
    height: 85px;
    max-height: 85px;
    width: 100%;
    position: absolute !important;
    z-index:999;
}
.img-logo{
    height: 60px;
    vertical-align: middle;
}
.nav-wrapper .button-collapse{
    text-align: right;
}
nav .button-collapse i {
    height: 70px;
    line-height: 70px;
}
.img-movil{
        display: none;
}
h5 a{
    font-size: 4vh !important;
}
.burger{
   top: 30%;
}
.circule-img{
    top: 15px;
}
#perfil{
    width: 70px;
    height:70px; 
    padding-right: 120px;
}

.brand-logo{
    padding-left: 3rem !important;
    margin-top: 8px;
}
.slider .slides , .slider {
    height: 551px !important;
}
.menuBA{
    padding-left: 20rem !important;
}
.menuBA-right{
    padding-right: 4rem !important;
    height:85px;
}
.button-movil{
    font-size: 3rem; 
    float: right !important; 
    color:#6dc9d2
}
#header {
    position: relative !important;
}
.a-mobile{
    color:#3B3A3C !important;
}
.height{
    height: 470px !important;
}
.flecha {
    color: #757575 !important;
}
.space{
    padding-inline-end: 20px;
}
@media only screen and  (min-width: 601px) {
    nav, nav .nav-wrapper i {
        height: 95px !important;
    }
}
nav{
    background-color: rgba(59, 58, 60, 1) !important;
    box-shadow: 0px 0px 0px 0px !important;
}
nav ul a{
    margin-top: 20px;
}
nav ul a:hover {
     background-color: transparent !important; 
}
.centrado{
     position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(236, 237, 237, 0.6) !important; */
    width: 100%;
    height: 150px;
    z-index:100;
}
#btn-search{
    height: 48px;
    border: #c1c1c1 solid 1px;
    background-color: rgba(236, 237, 237, 0.8) !important;
    text-align:center;
    box-shadow:0px 3px 6px 0px;
    font-size: 1.2rem;
}
#stateId{
    height: 50px; 
    border: #c1c1c1 solid 1px; 
    text-align-last: center;
    box-shadow:1px 3px 6px 0px;;
    background-color: rgba(236, 237, 237, 0.8) !important;
    border-radius: 0px 10px 10px 0px; 
    font-size: 1.2rem;
}
.searchProvider{
    font-size: small;
    height: 50px;
    background-color: #3B3A3C;
    border: none; 
    border-radius: 10px 0px 0px 10px; 
    font-weight: bold; 
    color:#F8DADF ;
}
.searchProvider:hover, .searchProvider:focus {
    background-color:  #757575;
}
h3{
    display: inline;
}
.title{
    display: inline-block;
    /* padding-inline-end: 20px; */
    font-size: 1.8rem;
}
.vl {
    border-left: 2px solid white;
    height: 35px;
    display: inline-block;
    left: 10%;
    margin-left: -3px;
    padding-left: 20px;
    margin-bottom: -10px;
    box-shadow: 0 10px 5px -10px;
}

.vl2 {
    border-left: 2px solid white;
    height: 60px;
    display: inline-block;
    left: 10%;
    margin-left: -3px;
    padding-left: 20px;
    margin-bottom: -40px;
}
.vl3 {
    border: 2px solid #F8DADF ;
    border-width: 0px 0px 0px 4px;
    padding-left: 3%;
}
.user{
    font-size: 3rem !important;
}
.background{
    background-size: contain;
}
.descrip{
    font-size:1.2rem;
    font-weight: 600;
}
.textPrincipal{
    font-weight: 600;
}
.div-articulos{
    background-color:#F8DADF ;
}
.margin{
    margin-left: 5%;
    margin-right: 5%;
}
.div-left{
    box-shadow: 0 2px 2px 0 rgba(248,218,223,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: white;
    border-width: 0px 0px 0px 4px;
    border-color: #F8DADF ;
    border-style: solid;
}
.div-right{
    box-shadow: 0 2px 2px 0 rgba(248,218,223,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: white;
    border-width: 0px 4px 0px 0px;
    border-color: #F8DADF ;
    border-style: solid;
}
.articulos{
    height: 380px;
}

.element-img{
    object-fit:cover;
    height:100px;
    width:100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.art-img{
    object-fit:cover;
    height:200px;
    width:100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.element-img2{
    object-fit:cover;
    height:250px;
    width:100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.izquierda{
    position: absolute;
    transform: translate(0%, -100%);
    background-color: rgba(59, 58, 60, 0.8) !important;
    width: 80px;
    height: 380px;
}
.derecha{
    position: absolute;
    left: 89%;
    transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    background-color: rgba(59, 58, 60, 0.8) !important;
    width: 80px;
    height: 380px; 
}
.contenido{
    font-size: .8rem !important;
    margin-top: 0px !important;
}
.mas{
    font-size: .8rem !important;
    margin-top: 0px !important;
    font-weight: 600;
    text-align: center;
}
.nav-mobile a{
    color: white !important;
}
.color-a{
    color: #3B3A3C !important;
}
.boton-secciones{
    border: 2px solid;
    background-color: white;
}
.secciones{
    font-size: 1.4rem;
}
hr{
    color: #F8DADF ;
    border:4px solid;
}
.icon{
    width: 80px;
    height: 80px;
}
.proveedores{
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.b-movil{
    display: none;
}
.b-web{
    display: block;
}
.checked {
    color: orange;
  }
@media only screen and  (min-width: 300px) and  (max-width: 900px){
    .articulos{
        height: 100%;
        margin-top: 4vh;
    }
    .side-nav{
        width: 250px !important;
    }
    .centrado{
        top: 77% !important;
        height: 200px;
    }
    .title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #757575 !important;
    }
    .img-home{
        height: 450px;
        object-fit: cover;
    }
    .content{
        min-height: calc(100vh - 64px) !important;
        position: relative;
    }
    nav{
        background-color: rgba(59, 58, 60, 1) !important;
    }
    .search{
        padding-top:200px;
    }
    .centrado{
        background-color:transparent !important;
    }
    .busc{
        display: flex;
    }
    .searchProvider2{
        height: 40px;
        background-color: #F8DADF;
        border: none; 
        border-radius: 0px 0px 0px 0px ; 
        color: #3B3A3C ;
        margin-top: -25px;
    }
    .searchProvider:hover, .searchProvider:focus {
        background-color:  #F8DADF;
    }
    #btn-search2{
        height: 48px;
        border: #c1c1c1 solid 1px;
        background-color: white !important;
        text-align:center;
        box-shadow:0px 3px 6px 0px;
        font-size: 1.2rem;
        border-radius: 10px 0px 0px 10px;
    }
    #stateId, #btn-search2{ 
        background-color: white !important;
    }
    .b-movil{
        display: block;
    }
    .b-web{
        display: none;
    }
    .button-movil{
        position: absolute !important;
    }
    .brand-logo{
        left:40% !important;
        margin-top: 5px;
    }
    .button-movil2{
        position: relative !important;
        margin: 0 18px;
        line-height: 90px;
        top: -10px;
    }
    .fa-user-circle{
        font-size: 35px !important;
    }
    .card .card-content{
        padding: 0px !important;
    }
    .card{
        padding-left: 5px;
        padding-right: 5px;
    }
    .element-img2{
        height: 150px;
    }
    .registro{
        background-color: white !important; 
        border: 0px !important;
        border-bottom: 2px solid #9e9e9e !important;
        border-radius: 10px !important;
        }
    #btn-search {
        border-radius: 10px 0px 0px 10px !important;
    }
}
@media only screen and  (min-width: 400px) and  (max-width: 900px){
    .button-movil {
        position: absolute !important;
    }
    .button-movil2 {
        position: relative !important;
        margin: 0 18px;
        line-height: 90px;
    }
}