.menu-magazine{
    position: absolute;
    margin-top: -66px;
    background-color: rgba(59, 58, 60, 0.7) !important;
    border-radius: 8px;
    text-align: center;
    padding-left: 30px !important;
    padding-top: 5px !important;
    height: 60px;
}
.img-home{
    height: 500px;
    margin-top: -20px;
}
.background {
    background-size: cover !important;
}
.title {
    font-size: 1.2rem;
    color: #757575 !important;
}
.opcion{
    color: white !important;
    font-size: 1.5rem !important;
}
.post{
    height: 490px !important;
}
.card .card-content{
    padding: 0px !important;
}
.card{
    padding-left: 5px;
    padding-right: 5px;
}
.art-img{
    height: 300px !important;
    object-position: top;
}
.pagination li a {
    color: #757575;
    display: inline-block;
    font-size: 1.5rem !important;
    line-height: 35px;
    padding: 0 !important ;
}
.pagination li.active {
    background-color: #f8dadf;
    padding: 0 10px;
}
.pagination li{
    font-size: 1.5rem !important;
    padding: 0 10px !important ;
    height: 35px;
}
.registro{
    background-color: white !important; 
    border: 0px !important;
    box-shadow: 2px 3px 5px 1px #9e9e9e !important;
    border-radius: 10px !important;
}
.hr2{
    color: #F8DADF ;
    border:4px solid !important;
    /* width: 100%; */
}
#buttonRegistro{
    height: 40px;
    background-color: #F8DADF;
    border: none; 
    border-radius: 0px 0px 0px 0px ; 
    color: #3B3A3C ;
    margin-top: -25px;
}
.green{
    margin: 30px;
}
.green h3{
    font-size: 2rem !important; 
}