body {
    font-family: 'Raleway', Sans-Serif !important;
}
nav {
    background: #3a393b;
    border-top: 10px solid #F8DADF;
    height: 19vh;
    box-shadow: none;
    line-height: unset;
    margin-bottom: 40px !important;
}
.logo-menu {
    width: 100%;
    height: 100% !important;
    object-fit: contain !important;
}
.large-div-menu {
    height: 100%;
}
.icon-menu {
    width: 60px;
    margin-bottom: -8px;
    cursor: pointer;
}
.icon-menu-user {
    margin-top: 25px !important;
    margin-bottom: 2px;
    width: 51px;
    height: 51px;
    border-radius: 100px;
    border: 1px;
    border-style: solid;
    object-fit: cover !important;
    cursor: pointer;
}
.icon-menu-bw {
    height: 100%;
    width: 60%;
    object-fit: contain;
}
.pink-text {
    color: #F8DADF !important;
}
.row {
    margin-bottom: 0px !important;
}
.dropdown-content {
    width: 280px !important;
    left: unset !important;
    top: 90px !important;
    height: 401px !important;
    right: 1% !important;
}
.username-menu {
    top: 40% !important;
    position: absolute;
}
.fa-bars {
    height: 20px !important;
    line-height: 20px !important;
}
.bold {
    font-weight: bold !important;
}
.justify {
    text-align: justify;
}
.pointer {
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }