.title-pres {
    font-size: 16px !important;
}
.tabs .indicator {
    background-color: #F8DADF;
}
.width-content-pres {
    width: 95% !important;
    margin-left: 2.5% !important;
}
.border-pres {
    border: 2px solid #818181;
    border-radius: 15px;
}
h6 {
    font-size: 1.2rem;
}
.icon-calculator {
    background-image: url('../../resources/icons/icons-color/calc1.png');
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-calculator2 {
    background-image: url('../../resources/icons/icons-color/calc2.png');
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-payment {
    background-image: url('../../resources/icons/icons-color/payment.png');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-pending {
    background-image: url('../../resources/icons/icons-color/pending.png');
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.space-list {
    margin-bottom: 25px;
}
.collapsible {
    border: unset !important;
    box-shadow: unset !important;
}
li.active {
    border: unset !important;
}
.collapsible-header {
    border-bottom: 2px solid #F8DADF !important;
    width: 60%;
}
.collapsible-body {
    padding: 0px !important;
}
.collapsible-body {
    border:  unset !important;
}
.title-left {
    width: 50%;
    text-align: left;
}
.title-right {
    width: 50%;
    text-align: right;
    padding-top: 0px;
    color: #757575;
    font-size: 1.1rem;
}
.icons {
    max-width: 35px;
}
.text-title {
    position: absolute;
    margin-top: 5px;
    font-size: 1.1rem !important;
    color: #757575;
    width: 10rem !important;
    text-align: left !important;
}
.down-right {
    width: 2rem !important;
    font-size: 2.6rem !important;
    display: inline-block !important;
    text-align: center !important;
    margin-right: unset !important;
}
.pink-text {
    color: #F8DADF !important;
}
.table-index {
    box-shadow: 1px 1px 5px grey;
    margin-top: 5px;
}
.table-index thead {
    background: #f5f5f5;
}
.table-index td {
    border-right: 1px solid grey;
    padding: 0px;
}
.table-index tr {
    border-bottom: 1px solid grey;
}
.space {
    height: 70px;
}
input {
    margin: 0px !important;
    text-align: center !important;
    border: unset !important;
}
.openModal {
    cursor: pointer;
    color: #4AA6F3;
}
.modalWelcome {
    background: transparent;
    border: unset;
    box-shadow: unset;
    cursor: pointer;
}
.logoWelcome {
    width: 50% !important;
}
.inputs {
    border: 1px solid grey !important;
    border-radius: 10px !important;
    /* width: 40% !important; */
}
.add {
    width: 150px !important;
}
.columns {
    width: 150px !important;
}
.inputs-payment {
    border: unset !important;
    background: white !important;
    border-radius: 5px !important;
    box-shadow: 1px 1px 6px grey !important;
}
.size-delete {
    font-size: 1.5rem !important;
}
#modal3 {
    width: 80% !important;
}