.dataTables_filter input {
    border: 1px solid grey !important;
    border-radius: 10px !important;
}
.btn{
    background: #2d353c;
}
.btn:hover, .btn:focus{
    background: #525558;
}   
select {
    display: inherit !important;
}