.sidenav{
    top: 10vh;
    background: #2d353c;
    width: 250px;
}

nav{
    background: #1b697b !important;
    padding-left:10px;
    padding-right: 10px;
}

.sidenav li>a, .sidenav li>a>i {
    color: #a8acb1;
}
.sidenav li>a>i{
    margin: 0;
}

.dropdown-content {
    top: 100% !important;
}
.inputs {
    border: 1px solid grey !important;
    border-radius: 5px !important;
}
.large {
    height: 25px !important;
}
.pointer {
    cursor: pointer !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }
.oculto {
    display: none !important;
}
@media only screen and (min-width: 993px){
    .menu-lateral {
        width: 22% !important;
    }
}
.breadcrumb, .breadcrumb::before {
    color: black !important;
    font-size: 2.7vh;
    /* float: right; */
}
.contenido nav{
    background: white !important;
}
.breadcrumbs{
    float: right;
}