.padding-left {
    padding-left: 0px !important;
}
.padding-right {
    padding-right: 0px !important;
}
.space {
    height: 10px !important;
}
input {
    height: 35px !important;
}
.files {
    width: 100%;
}