.titulos{
    font-weight: bold;
}
hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
table{
    border: 1px solid lightgrey;
    border-radius: 10px;
}
table th{
    border: 1px solid lightgrey;
    background: #f9f9f9;
    width: 20%;
    text-align: center;
}
table td{
    text-align: center;
}
.input{
    border: 1px solid lightgrey !important;
    border-radius: 10px !important;
    padding-left: 10px !important;
}
.input, select{
    width: 90% !important;
}
select{
    display: inherit !important;
}
.fr-toolbar{
    background: #f5f5f5 !important;
}

textarea {
    height: 6rem !important;
}